.connectLinks
    display: flex
    flex-wrap: wrap
    justify-content: center
    column-gap: 35px
    row-gap: 10px
    padding: 0px
    margin: 0px
    list-style: none

.connectLink > a:hover
    cursor: pointer
    border-bottom: 3px solid green

.connectLinkImg
    height: 40px
    width: 40px
    border-radius: 10px

@media (max-width: 690px)
    .connectLinks
        column-gap: 10px

    .connectLinkImg
        height: 55px
        width: 55px
