.footer
    border-top: 2px solid #eaeaea
    padding: 1rem 0

    .footerNav
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    .footerNav > *
        margin: 0.66rem 0px
        color: green
