.header
    position: fixed

.headerLinks
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    row-gap: 10px
    margin-top: 0px
    margin-left: 15px
    padding-top: 20px
    padding-left: 0px
    list-style: none

#adLogoItem
    margin-bottom: 2px

#adLogoItem:hover
    border-bottom: none

@keyframes logoArrowsFadeIn
    0%
        opacity: 0%
        transform: translateY(-100%)

    100%
        opacity: 100%
        transform: translateY(0%)

@keyframes logoTextFadeOut
    0%
        opacity: 100%
        transform: translateY(0%)

    100%
        opacity: 0%
        transform: translateY(200%)

@keyframes logoTextFadeIn
    0%
        opacity: 0%
        transform: translateY(200%)

    100%
        opacity: 100%
        transform: translateY(0%)

@keyframes logoArrowsFadeOut
    0%
        opacity: 100%
        transform: translateY(0%)

    100%
        opacity: 0%
        transform: translateY(-100%)

#adLogoImg
    width: 60px
    height: 60px
    border-radius: 50%

    #logoText
        animation-duration: 1s
        animation-name: logoTextFadeOut
        transform: translateY(200%)

    #topArrow1
        animation-duration: 1s
        animation-name: logoArrowsFadeIn
        transform: translateY(0%)

    #topArrow2
        animation-duration: 1s
        animation-name: logoArrowsFadeIn
        transform: translateY(0%)

#adLogoImg.active
    border: 3px solid green

    #logoText
        animation-duration: 1s
        animation-name: logoTextFadeIn
        transform: translateY(0%)

    #topArrow1
        animation-duration: 1s
        animation-name: logoArrowsFadeOut
        transform: translateY(-100%)

    #topArrow2
        animation-duration: 1s
        animation-name: logoArrowsFadeOut
        transform: translateY(-100%)

.headerLink
    color: white
    text-shadow: -2px 1px #000000
    font-size: 1.5rem
    margin-bottom: 10px

.headerLink.active
    margin-bottom: 8px
    border-bottom: 2px solid green

.headerLink:hover
    cursor: pointer
    margin-bottom: 8px
    border-bottom: 2px solid green

@media (max-width: 949px)
    .header
        background-color: rgba(0, 0, 0, 0.85)
        width: 100%

    .headerLinks
        flex-direction: row
        align-items: center
        justify-content: center
        margin: 0px
        margin-right: 25px
        // padding-top: 65px
        padding-top: 5px //used if scroll doesnt slide nav
        column-gap: 20px
