.container
    // padding: 0 2rem
    background-image: url("../public/main/wood-desk-bw.jpg")
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    background-attachment: fixed
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.73)
    scroll-behavior: smooth

.main
    padding: 4rem 0 0 0
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    #mainSection
        min-height: 100vh
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding-bottom: 10rem

        .profilePic
            width: 250px
            height: 250px
            border-radius: 50%
            border: 5px solid rgba(255, 255, 255, 0.8)

        .description
            color: black
            background: rgba(255, 255, 255, 0.8)
            border-radius: 10px
            text-align: center
            line-height: 1.5
            font-size: 1.75rem
            font-weight: normal

        .description > p
            margin: 0px
            margin-top: -10px
            color: grey
            font-size: 1rem

        .code
            color: green
            border-top: 2px solid grey
            padding: 0.75rem
            font-size: 1.1rem
            font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace

    .sectionTitle
        color: white
        border-bottom: 3px solid green
        font-size: 2rem

    .aboutSection
        min-height: auto
        width: 100%
        background-color: #dddddd
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 1rem

        #aboutSectionTitle
            color: black

        .aboutContentContainer
            width: 50%
            font-size: 1.25rem
            padding-bottom: 5rem

            .aboutContent
                color: black

            .aboutQuote
                color: rgb(80, 80, 80)

    .resumeSection
        min-height: auto
        width: 100%
        background-image: url("../public/main/react-banner.png")
        background-size: 125% 100%
        background-repeat: no-repeat
        background-attachment: fixed
        display: flex
        flex-direction: column
        align-items: center
        padding: 1rem
        color: white

        #resumeSectionTitle
            border-bottom: 3px solid white

        .resumePreview
            height: 600px
            width: 400px
            border-top-right-radius: 12.5%
            padding-top: 2rem

        .resumeNote
            font-size: 0.85rem
            padding-bottom: 5rem

    @keyframes workItemHoverIn
        0%
            box-shadow: 0px 5px 0px 1px #121212

        100%
            box-shadow: 8px 5px 0px 1px #3b3b3b

    @keyframes workItemHoverOut
        0%
            box-shadow: 10px 5px 0px 1px #3b3b3b

        100%
            box-shadow: 0px 5px 0px 1px #121212

    .workSection
        height: auto
        width: 100%
        height: 100%
        background-color: black
        display: flex
        flex-direction: column
        align-items: center
        padding: 1rem

        .workListLabel
            color: white
            font-size: 1.75rem
            margin: 1.33rem 0px

        .workList
            list-style: none
            padding: 0px
            padding-bottom: 2rem
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: center
            align-items: center
            column-gap: 75px

            .workItem
                width: 325px
                color: white
                border: 10px solid grey

                border-radius: 15px

            .workItem:hover
                border: 10px solid grey
                animation-duration: 0.3s
                animation-timing-function: cubic-bezier(0,0,.5,1)
                animation-name: workItemHoverIn
                box-shadow: 8px 5px 0px 1px #3b3b3b

            .workItemImg
                width: 100%
                height: 200px
                border-top-left-radius: 3px
                border-top-right-radius: 3px
                border-bottom: 1px solid white

            .workItemInfo
                padding: 0.5rem
                display: flex
                flex-direction: column

                p
                    margin: 0.5rem 0

                .workItemTitle
                    font-size: 1.5rem
                    font-weight: bold

                .workItemDescription
                    font-size: 1rem
                    font-style: italic
                    margin-bottom: 1rem

                a:hover
                    cursor: pointer

@media (max-width: 600px)
