.container
    // padding: 0 2rem
    background-image: url("../public/main/city-desk.jpg")
    background-size: cover
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.73)
    color: green

.main
    // max-height: 80vh
    padding: 4rem 0
    flex: 1
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    // overflow-y: scroll

    .section
        border-top: 3px solid white
        min-height: 100vh

    #mainSection
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding-bottom: 15rem

        .profilePic
            width: 200px
            height: 200px
            border-radius: 50%
            border: 5px solid rgba(255, 255, 255, 0.8)

        .description
            color: black
            background: rgba(255, 255, 255, 0.8)
            font-size: 50px
            border-radius: 10px
            text-align: center
            line-height: 1.5
            font-size: 1.75rem

        .description > p
            margin: 0px
            margin-top: -10px
            color: grey
            font-size: 14px

        .code
            color: green
            border-top: 2px solid grey
            padding: 0.75rem
            font-size: 1.1rem
            font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace

@media (max-width: 600px)
